.jumbo {
    text-align: "center";
    position: "absolute";
    border-radius: 8px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    width: 65%;
    left: 50%;
    transform: translate(25%);
}
.fluid-jumbotron {
    height: 300;
    clear: "both";
    padding-top: 120; 
    text-align: "center"; 
}
