.addressBookJumbotron {
    position: "absolute";
    height: 75vh;
    border-radius: 8px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    left: 50%;
    transform: translate(0%);
}
